.canvas {
  display: grid;
  grid-template-columns: 60px 60px 60px;
  grid-template-rows: 60px 60px 60px;
  border-collapse: collapse;
}
.item {
  /* background-color: blue; */
  border-collapse: collapse;
  border-collapse: collapse;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #e60073;
}
.a1 {
  border-top: none;
  border-left: none;
}
.a2 {
  border-top: none;
}
.a3 {
  border-top: none;
  border-right: none;
}
.a4 {
  border-left: none;
}
.a6 {
  border-right: none;
}
.a7 {
  border-bottom: none;
  border-left: none;
}
.a8 {
  border-bottom: none;
}
.a9 {
  border-bottom: none;
  border-right: none;
}
.welcomeText {
  margin-top: 3rem;
  text-align: center;
  background: linear-gradient(45deg, #f06, #3cf);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transition: 0.31s ease-in-out;
  font-size: 2rem;
  padding: 0 1.6rem;
  font-family: "Rubik Iso", cursive;
  letter-spacing: 2px;
}
.himanshu {
  margin-top: 1rem;
  color: rgb(1, 109, 171);
  font-family: "Rubik Iso", cursive;
  text-align: center;
}
.canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: 0.31s ease-in-out;
  font-size: 2rem;
  padding: 0 1.6rem;
  font-family: sans-serif;
  letter-spacing: 2px;
}
.green {
  color: rgb(24, 194, 24);
}
.red {
  color: rgb(230, 29, 29);
}
.opponent {
  font-size: 1.2rem;
  font-family: "Rubik Iso", cursive;
  color: yellow;
  text-align: center;
  margin-top: 1rem;
  /* background-color: green; */
}
.chance {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.3rem;
  color: rgb(26, 255, 0);
  font-family: "Rubik Iso", cursive;
}
